html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA Compatible" content="IE=edge")
		title Connect 4
		script(src="/connect4.js")
		script(src="/help.js")
	link(rel="stylesheet" href="/profile.css")
	body(style="background: rgba(241, 153, 153, 0.959)" onload="displayInfo()")
		.game
			br
			h3 Achievements
			script 
			label Win percentage: !{request.achievements[0]}%
			br
			label Total Games played: !{request.achievements[1]}
			br 
			h3 Game History
			table
				tr
					th opponent:
					th &nbsp
					th result:
				tr
					td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][0]+"'") !{request.gamesHistory[0][0]}
					td &nbsp
					td !{request.gamesHistory[1][0]}
				tr
					td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][1]+"'") !{request.gamesHistory[0][1]}
					td &nbsp
					td !{request.gamesHistory[1][1]}
				tr
					td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][2]+"'") !{request.gamesHistory[0][2]}
					td &nbsp
					td !{request.gamesHistory[1][2]}
				tr
					td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][3]+"'") !{request.gamesHistory[0][3]}
					td &nbsp
					td !{request.gamesHistory[1][3]}
				tr
					td(style="cursor:pointer; text-decoration: underline;" onclick="location.href='../users/"+request.gamesHistory[0][4]+"'") !{request.gamesHistory[0][4]}
					td &nbsp
					td !{request.gamesHistory[1][4]}
			br

		.profile
			form(action="../getRequests/"+request.username)
				button#button(style="font-size:12px; cursor:pointer" class="button") request follow
			br
			br
			h1 Profile !{request.username}
			br
			h2 !{request.status}
			if (request.online == true)
				h2 online
			else
				h2 offline
			br
			input#fInput(type='text' onkeyup="searchFriends()" placeholder='Search friends..')
			ul#friendList
			br
			br
			button(class='button' type="button" onclick="location.href='../users'" style="font-size:12px; cursor:pointer;") back to profile
